.video-container 
	= video_tag ["", ""], autoplay:true, loop:true, poster:'bbq.jpg'
.row.middle-xs.full-height.center-xs.up.relative#home
	.col-xs-12
		.box.white-text
			= image_tag "logo.png", width:200
			%h1.dancing-script.title.no-margin La Burger
			%p#is-open
				Abierto ahora

.absolute.poppins.black.large-padding.white-text.full-width.center-xs#description
	.row.middle-xs.center-xs
		.col-xs-7.col-sm-6.col-xs-12.white-text.medium
			Atención cálida y comida preparada por artistas
		.col-xs.hidden#sticky-navigacion
			.box
				%nav.text-rigth.navigation
					%ul.list-inline
						%li
							=link_to "Inicio"
						%li
							%a{:href => "#"} Menú
						%li 
							%a Galería
						%li
							%a Contacto
						%li
							%a Cómo llegar

.text-center#manu
	.row
		.col-md-4.col-lg-3.col-sm-6.col-xs-12.food
			= image_tag("combo hamburger2-thumb") 
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag("combo hamburger2-thumb")
			= image_tag "hamburger"