<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <title>La mejor comida en Restauranto</title>
    <meta content='Come rico y barato en el mejor rastaurante de la ciudad, servicio de primera. Los mejores hamburguesa casera de la ciudad.' name='description'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render "layouts/menu" %>
  </body>
</html>


